composer.phar
/vendor/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-*/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
.idea/sonarlint/
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/httpRequests
.idea/caches/build_file_checksums.ser
/.idea/.gitignore
/.idea/data-aware.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/php.xml
/.idea/php-test-framework.xml
/.idea/phpunit.xml
/.idea/vcs.xml
/.phpunit.result.cache
/composer.lock
/logs/coverage/_css/bootstrap.min.css
/logs/coverage/_css/custom.css
/logs/coverage/_css/nv.d3.min.css
/logs/coverage/_css/octicons.css
/logs/coverage/_css/style.css
/logs/coverage/_icons/file-code.svg
/logs/coverage/_icons/file-directory.svg
/logs/coverage/_js/bootstrap.min.js
/logs/coverage/_js/d3.min.js
/logs/coverage/_js/file.js
/logs/coverage/_js/jquery.min.js
/logs/coverage/_js/nv.d3.min.js
/logs/coverage/_js/popper.min.js
/logs/coverage/Exceptions/dashboard.html
/logs/coverage/Exceptions/DataNotFoundNoDefaultException.php.html
/logs/coverage/Exceptions/index.html
/logs/coverage/dashboard.html
/logs/coverage/DataAware.php.html
/logs/coverage/DataAwareInterface.php.html
/logs/coverage/index.html
/logs/coverage.txt
